:root {
font-size: 14px;
}

$primary: black;
$secondary: white;
$green: rgb(15, 241, 15);


:root {
    font-size: 14px;
}

body {
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

.logo {
    color: $green;
}
body header{
    display: block;
    background-color: $primary;
    ;
    color: $secondary;
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav ul {
    list-style: none;
}

header nav ul li a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
    color: $secondary;
    padding: 2px 20px;
    margin: 1rem;
}

header nav ul li a:hover {
    color: $green;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    padding: 10px;
}
h3 { 
    font-size: 20px;
}

main { 
    background-image: url(fondocanilleras.jpg);
    background-size: cover;
    text-align: left;
    color: $secondary;
    font-size: 10px;
    padding: 10px;
    text-decoration: none;
    animation-name: efect;
    animation-iteration-count:initial;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 0s;
}

 
button {
    font-family: "Roboto", sans-serif;
    color: $primary;
}

.cta {
    margin: 10px auto;
    border: none;
    padding: 10px 44px;
    font-size: 20px;
    position: relative;
    color: $primary;
    background-color: $secondary;
}
.cta::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: "";
    width: 50%;
    height: 100%;
    background: $secondary;
    position: absolute;
    top: 0;
    left: 0;
    color: $primary;
}
.cta.redondo {
    border-radius: 50px;
    color: $primary;
}
.cta.redondo .text-green {
    color: $green;
    mix-blend-mode: difference;
}
.cta.redondo::before {
    border-radius: 50px;
    width: 25%;
    background: $green;
    background-color:$secondary;
}
.cta.redondo:hover::before {
    background: $green;
    width: 100%;
}

#about {
    padding: 20px;
    margin: 30px;
}

.titulos {
    color: $primary;
    font-family: "roboto", sans-serif;
}
.article-layout-grid {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-auto-rows: 0fr;
    grid-auto-flow: dense;
    margin-bottom: 2rem;
    gap: 0;
}
.experience {
    background-color: $primary;
    color: $secondary;
    @extend #education
}
#education {
    text-align: center;
    padding: 10px;
}
#portfolio {
    text-align: center;
    align-content: center;
	justify-content: center;
    background-image: url(fondoportfolio.jpg);
    background-position: 0%;
    height: 300px;
    color: $secondary;
    padding-top: 20px;
}

#contact {
    padding: 20px;
    margin: auto;
    color: $secondary;
}

.information {
    padding: 20px;
    margin: auto;
}
footer {
    text-align: right;
}

button, input, label, select, textarea {
    margin-bottom: 8px;
}

$contacto: (
        linkedin: #0f82da,
        behance:  #000000,
        mail: #ffccb4
); 
@each $contact, $color in $contacto {
    .btn--#{$contact} {
        background-color: $color;
    }
 }
 

@keyframes efect {
    0%{scale: 0; opacity: 0;}
    100%{ scale: 1.8 opacity 100%;}
}