:root {
    font-size: 14px;
}

body {
    font-family: "roboto", sans-serif;
    font-size: 1rem;
}

body header {
    z-index: 1;
    margin-right: 15px;
}

header nav ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: 2px 20px;
    margin: 1rem;
}

section {
    display: grid; 
    grid-template-columns: row;
    overflow: hidden;
}

h2 {
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.text {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    padding: 20px;
    margin: 10px;
}

.works {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 0fr;
    grid-auto-flow: dense;
    gap: 1rem;
    margin-bottom: 2rem;
}

.sidecarducati {
    background-image: url(assets/sidecarducati1.jpg);
    width: 500px;
    height: 500px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 24px;
    margin: 10px;
    overflow: hidden;
    content: "";
    color: black;
}
.sidecarducati:hover{
    background-image: linear-gradient(to bottom,gray);
    opacity: 80%;
    color: #09db5a;
    text-decoration: none;
    font: 16px;
}
.monsterlamp {
    background-image: url(assets/monsterlamp1.jpg);
    width: 500px;
    height: 500px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    margin: 10px;
    overflow: hidden;
    content: "";
    color: #cadcea
}
.monsterlamp:hover{
    background-image: linear-gradient(to bottom,gray);
    opacity: 80%;
    color: #09db5a;
    text-decoration: none;
    font: 16px;
}

footer {
    text-align: center;
    background-color: black;
    padding-top: 40px;
}